In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import os, warnings

In [5]:
warnings.simplefilter('ignore')

In [ ]:
import nltk
nltk.download('all')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from ast import literal_eval

In [7]:
from nltk.corpus import stopwords

In [8]:
from nltk.tokenize import word_tokenize

In [9]:
from ast import literal_eval

In [10]:
df = pd.read_csv('restaurants.csv')

In [ ]:
df['city'].nunique()

KeyError: 'city'

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(6590, 8)

In [ ]:
df.reset_index(drop = True, inplace = True)

# Processing Location Columns

In [ ]:
def extract_area(loc):
    splits = loc.split(',')
    if len(splits) == 2:
        splits.pop(1)
    elif len(splits) == 3:
        splits.pop(2)
    elif len(splits) == 4:
        splits.pop(3)
    final_loc = ' '.join(l for l in splits)
    return final_loc

df['Location'] = df['Location'].apply(lambda x: extract_area(x))

# Preprocessing Cuisine And City

In [ ]:
def preprocess(cuisine):
    cuisine = cuisine.lower()
    cuisine = cuisine.replace(',',' ')
    return cuisine

In [ ]:
df['Cuisine'] = df['Cuisine'].apply(lambda x: preprocess(x))
df['City'] = df['City'].apply(lambda x: preprocess(x))

In [ ]:
unwanted_cols = ['Locality','Votes']
df.drop(unwanted_cols,axis=1,inplace=True)

In [ ]:
df.head()

,Name,Location,City,Cuisine,Rating,Cost
0,Local,Scindia House Connaught Place,delhi,north indian finger food continental,4.1,2000
1,The G.T. ROAD,M-Block Connaught Place,delhi,north indian,4.3,1500
2,Tamasha,Connaught Place,delhi,finger food north indian italian contine...,4.2,2000
3,The Junkyard Cafe,Connaught Place,delhi,north indian mediterranean asian italian...,4.2,1800
4,Chili's American Grill and Bar,M-Block Connaught Place,delhi,mexican american italian,4.4,2000

# Recommend me a Restraunt

In [ ]:


def recommend_restaurant(city, cuisine, cost):
    cuisine = cuisine.lower()

    # Filtering the cuisine set
    stop_words = set(stopwords.words('english'))
    filtered = {word for word in word_tokenize(cuisine) if word not in stop_words}

    # Filtering the dataset based on input city and cost
    city_df = df[df['City'].str.lower() == city.lower()]
    city_df = city_df[city_df['Cost'] <= int(cost)]
    city_df = city_df.set_index(np.arange(city_df.shape[0]))

    cos = []
    for i in range(city_df.shape[0]):
        temp_token = word_tokenize(city_df["Cuisine"][i])
        temp_set = {word for word in temp_token if word not in stop_words}
        vector = temp_set.intersection(filtered)
        cos.append(len(vector))
    
    # Assigning similarity scores
    city_df['similarity'] = cos

    # Sorting based on similarity and rating
    city_df = city_df.sort_values(by=['similarity', 'Rating'], ascending=[False, False])
    city_df.reset_index(drop=True, inplace=True)
    
    return city_df[["Name", "Location", "Rating"]].head()

In [ ]:
recommend_restaurant("Delhi","Dessert",500)

                             Name                              Location  \
0                       Bistro 55                             Paharganj
1                  The Waffle Co.                        Rajinder Nagar
2                       Bake Club                      East Patel Nagar
3                 3 Friends Pizza                          Pandav Nagar
4                    Cafe Emoji's                             Moti Bagh
..                            ...                                   ...
99                  PUBG Foodcity                           Uttam Nagar
100                 Bubble Waffle                           Karkardooma
101                        Subway                           Karkardooma
102  Six Degree Cakes and Coffees  Safdarjung Enclave Market Safdarjung
103                         Giani                         Subhash Nagar

      City                                            Cuisine  Rating  Cost  \
0    delhi  multi-cuisine   north indian   italian   chine...     5.0   500
1    delhi                         desserts   waffle   shakes     5.0   400
2    delhi    bakery and confectionary   desserts   fast food     5.0   500
3    delhi                                              pizza     5.0   400
4    delhi                                          fast food     5.0   500
..     ...                                                ...     ...   ...
99   delhi                                fast food   chinese     3.0   400
100  delhi             desserts   waffle   fast food   shakes     2.0   500
101  delhi                                        health food     1.0   500
102  delhi                           bakery and confectionary     1.0   500
103  delhi                      desserts   ice cream   shakes     1.0   400

     similarity
0             0
1             0
2             0
3             0
4             0
..          ...
99            0
100           0
101           0
102           0
103           0

[104 rows x 7 columns]

              Name          Location  Rating
0        Bistro 55         Paharganj     5.0
1   The Waffle Co.    Rajinder Nagar     5.0
2        Bake Club  East Patel Nagar     5.0
3  3 Friends Pizza      Pandav Nagar     5.0
4     Cafe Emoji's         Moti Bagh     5.0

In [ ]:
ans = recommend_restaurant('Mumbai','Desserts',2000)
ans

                      Name                           Location  Rating
0  Elementaria Bakery Cafe                              Powai     5.0
1                Wowfillss                              Parel     5.0
2        The Pancake Story      Narayan Niwas Vile Parle East     5.0
3              99 Pancakes  Silver Croft Building Bandra West     5.0
4            Frozen Bottle                        Hiranandani     4.7

In [ ]:
df.head()

,Name,Location,City,Cuisine,Rating,Cost
0,Local,Scindia House Connaught Place,delhi,north indian finger food continental,4.1,2000
1,The G.T. ROAD,M-Block Connaught Place,delhi,north indian,4.3,1500
2,Tamasha,Connaught Place,delhi,finger food north indian italian contine...,4.2,2000
3,The Junkyard Cafe,Connaught Place,delhi,north indian mediterranean asian italian...,4.2,1800
4,Chili's American Grill and Bar,M-Block Connaught Place,delhi,mexican american italian,4.4,2000

In [ ]:
import pickle

In [ ]:
pickle.dump(df, open('hotel.pkl', 'wb'))